.destination {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/destination/Destination.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;

    .moons--container {
        left: 10%;
        top: 30%;
        position: absolute;
        display: flex;

        .title {
            margin: 0;
            position: absolute;
            color: #fff;
            font-size: 28px;
            font-weight: lighter;
            letter-spacing: 2px;
            margin-top: 10px;
            margin-left: 20px;

            .title-number {
                color: rgb(78, 80, 88);
                margin-right: 15px;
                font-weight: 700;
            }
        }

        .data {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // padding-top: 8%;
            // padding-left: 4%;
            box-sizing: border-box;
            position: relative;

            .moons {
                position: absolute;
                top: 25%;
                left: 54%;

                ul {
                    z-index: 10;
                    list-style: none;
                    display: flex;
                    column-gap: 25px;
                    margin: 0;
                    padding: 0;
                    height: 33px;

                    li {
                        color: rgb(208, 214, 249);
                        transition: all .1s ease;

                        &:hover {
                            cursor: pointer;
                            transform: scale(.95);
                            transition: all .1s ease;
                        }


                        &.active {
                            height: 100%;
                            color: white;
                            border-bottom: 3px solid white;
                            transition: all .1s ease;
                        }
                    }
                }

                margin-bottom: 50px;
            }

            .moons-desc {
                display: flex;

                .moons-img {
                    width: 50%;
                    height: 300px;

                    img {
                        width: 560px;
                        position: relative;
                        top: 46%;
                        left: 8%;

                    }
                }

                .moons-data {
                    position: relative;
                    width: 46%;
                    top: 38%;
                    left: 4%;

                    .name {
                        font-size: 100px;
                        margin: 0;
                        letter-spacing: 5px;
                        font-weight: 300;
                        margin-bottom: 25px;
                        color: white;
                    }

                    .desc {
                        font-size: 18px;
                        width: 70%;
                        color: rgb(208, 214, 249);
                        margin-bottom: 85px;
                        line-height: 35px;
                    }

                    .line {
                        width: 75%;
                        height: 1.5px;
                        background-color: rgba(88, 91, 99, 0.7);
                        left: -56%;
                    }

                    .dist-times {
                        display: flex;
                        column-gap: 100px;
                        color: rgb(208, 214, 249);

                        .distance {
                            h5 {
                                font-size: 15px;
                                margin-bottom: 10px;
                            }
                        }

                        .time {
                            h5 {
                                font-size: 15px;
                                margin-bottom: 10px;
                            }
                        }

                        p {
                            color: white;
                            margin: 0;
                            font-size: 30px;
                        }
                    }
                }

            }
        }
    }
}