.header {
    width: 100%;
    height: 145px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .navbar {
        width: 57.7%;
        height: 105px;
        background-color: rgb(36, 40, 50);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 90px;
        box-sizing: border-box;
        position: relative;
        z-index: 1;

        .line {
            width: 60%;
            height: 1.5px;
            background-color: rgba(88, 91, 99, 0.7);
            position: absolute;
            left: -56%;
        }


        .nav-items {
            margin: 0;
            list-style: none;
            display: flex;
            column-gap: 55px;
            width: auto;
            height: 100%;
            align-items: center;
            justify-content: center;

            li {
                font-weight: lighter;
                height: 97%;
                transition: all .1s ease;
                letter-spacing: 1px;

                .link {
                    color: white;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                }

                .nav-numbers {
                    font-weight: 500;
                    margin-right: 10px;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(.95);
                    transition: all .1s ease;
                }

                &.active {
                    border-bottom: 3px solid white;
                    transition: all .1s ease;
                }
            }
        }
    }
}