.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 6px 0px 8px 70px;
    top: 161px;
    position: relative;
  }

  &__slider {
    display: flex;
    flex-direction: column;

    h1 {
      color: #fff;
      margin-bottom: 0px;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 400;
      position: absolute;
      top: -50px;
    }
    span {
      height: 34px;
    }
  }

  &__button {
    display: flex;
    gap: 10px;
    margin-top: 70px;
    margin-bottom: 37px;
    display: block;
    width: 90px;
    height: 90px;
    font-family: "Bellefair", serif;
    color: #fff;
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s ease;
  }

  &__information {
    display: flex;
    flex-direction: column;
    padding: 82px;

    span {
      margin-bottom: 20px;
      color: #d0d6f9;
      font-family: "Barlow Condensed";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
    }

    h3 {
      color: #fff;
      margin-bottom: 20px;
      font-family: "Bellefair";
      font-style: normal;
      font-weight: 400;
      font-size: 56px;
      line-height: 64px;
    }

    p {
      color: #d0d6f9;
      font-family: "Barlow", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 40px;
      height: 80px;
      word-wrap: break-word;
      padding-right: 150px
    }

    &__images {
      display: flex;
      width: 515px;
      height: 527px;
      left: 997px;
      top: 272px;
    }
  }

  @media (min-width: 780px) {
    /* Aquí puedes agregar los estilos que deseas aplicar para una resolución de 780px o superior */
  }
}


