@import "../../index.scss";

.technology {
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 14px 0px 9px 125px;
    top: 57px;
    position: relative;
  }

  &__slider {
    display: flex;
    flex-direction: column;

    h1 {
      color: $colorPrimary;
      margin-bottom: 0px;
      font-family: $typografySubheading;
      font-size: 28px;
      font-weight: 400;
      position: absolute;
      top: -50px;
    }

    span {
      height: 34px;
      color: $colorOther;
    }
  }

  &__button {
    display: flex;
    gap: 10px;
    margin-top: 70px;
    margin-bottom: -36px;
    display: block;
    width: 90px;
    height: 90px;
    font-family: $typografyHeading;
    color: $colorPrimary;
    font-size: 30px;
    border: 1px solid $colorSecondary;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.5s ease;
  }

  &__information {
    display: flex;
    flex-direction: column;
    padding: 82px;

    span {
      margin-bottom: 20px;
      color: $colorSecondary;
      font-family: $typografySubheading;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
    }

    h3 {
      color: $colorPrimary;
      margin-bottom: 20px;
      font-family: $typografyHeading;
      font-style: normal;
      font-weight: 400;
      font-size: 47px;
      line-height: 64px;
    }

    p {
      color: $colorSecondary;
      font-family: $typografyHeading;
      font-weight: 400;
      font-size: 18px;
      line-height: 40px;
      height: 80px;
      word-wrap: break-word;
    }
  }

  &__image {
    display: flex;
    width: 419px;
    height: 495px;
    // left: 997px;
    // top: 272px;
  }
}

@media screen and (max-width: $mediaQueryTablet) {
  .technology {
    //  &__content:nth-child(1) {
    //   order: 2;
    //  }

    //  &__content:nth-child(2) {
    //   order: 3;
    //  }

    //  &__content:nth-child(3) {
    //   order: 1;
    //  }
    
      &__content {
        flex-direction: column-reverse;
        top: -57px;
      }
    


    &__information {
      padding: 115px;
      margin-left: -142px;
    }

    &__slider {
      display: flex;


      h1 {
        margin-left: -76px
      
      }
    }


    &__button {

    }
  }
}

@media screen and (max-width: $mediaQueryMobile) {
  .technology {
    &__content {
     
    }
  }
}